.registry-main {
    margin-right: auto;
    margin-left: auto;
    width: 1150px;
    .passport-cover {
        float: left;
        margin: 107px 0;
        width: 575px;
    }
    .cover-content {
        padding: 50px 0;
        width: 100%;
        height: 318px;
        border-right: 1px solid #dfdfdf;
        .cover-img {
            display: block;
            margin: 0 auto;
            margin-top: 50px;
            width: 252px;
            height: 190px;
        }
    }
    .content {
        float: left;
        margin-top: 107px;
        padding-left: 85px;
        .register-page {
            color: #b9b9b9;
            font-size: 14px;
            .input {
                padding: 0;
                width: 268px;
                height: 43px;
                border: 1px solid #dbdbdb;
                color: #9a9a9a;
                text-indent: 10px;
                font-size: 16px;
                line-height: 43px;
            }
            li {
                position: relative;
                margin-bottom: 25px;
                width: 270px;
            }
            .btn {
                width: 100px;
                padding: 0;
                height: 45px;
                border: none;
                color: #fff;
                text-align: center;
                line-height: 45px;
                background-color: red;
            }
            .pwd-intensity-container {
                overflow: hidden;
                margin-top: 5px;
                width: 270px;
                height: auto;
                text-align: right;
                span {
                    padding: 1px 10px;
                    height: 15px;
                    background-color: #e8e8e8;
                    text-align: center;
                    font-size: 12px;
                }
            }
            .pwd-tips {
                position: absolute;
                top: -10px;
                left: 285px;
                padding-top: 7px;
                width: 160px;
                height: 72px;
                background-position: -148px -158px;
                background-size: 595px 298px;
                font-size: 12px;
                display: none;
            }
            .items-container {
                text-align: left;
                white-space: nowrap;
                font-size: 13px;
                .link {
                    margin: 8px 10px 0 0;
                    display: inline-block;
                    color: red;
                    text-decoration: underline;
                }
            }
            .register-btn {
                background: #555;
                width: 270px;
                font-weight: 700;
                font-size: 20px;
                float: left;
            }
            .go-login {
                text-decoration: underline;
                color: red;
            }
        }
        .judgementname,
        .judgementtel,
        .judgementpwd,
        .judgementemail {
            margin-left: 20px;
            position: absolute;
            width: 120px;
            line-height: 24px;
            font-size: 12px;
        }
    }
}