%wrapper {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.upper {
    margin-left: -8px;
    @extend %wrapper;
    margin: 0 auto;
    .upper-top {
        position: relative;
        margin: 80px 0 40px;
        .upper-top-title {
            margin: 0 auto;
            width: 298px;
            height: 31px;
            line-height: 31px;
            border: 1px solid #000;
            font-size: 16px;
            text-align: center;
        }
        .upper-top-navs {
            position: absolute;
            padding: 10px 0;
            top: 0;
            right: 0;
            font-size: 14px;
            a {
                color: #333;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .upper-body {
        margin-bottom: 8px;
        .upper-nav {
            width: 185px;
            float: left;
            .upper-keywords {
                margin-bottom: 8px;
                .upper-link1 {
                    display: block;
                    height: 152px;
                    margin-bottom: 10px;
                    background-color: pink;
                }
                .upper-link2 {
                    display: block;
                    height: 86px;
                    margin-bottom: 10px;
                    background-color: pink;
                }
            }
            .upper-list {
                height: 228px;
                padding: 10px 0;
                background-color: #f8f8f8;
                overflow: hidden;
                a {
                    display: block;
                    float: left;
                    height: 38px;
                    line-height: 38px;
                    font-size: 14px;
                    width: 50%;
                    text-align: center;
                    color: #000;
                    overflow: hidden;
                }
            }
        }
        .upper-brand {
            float: left;
            width: 378px;
            height: 512px;
            overflow: hidden;
            margin-left: 8px;
            li {
                margin-bottom: 8px;
                background-color: red;
            }
        }
        .upper-goods {
            float: left;
            overflow: hidden;
            margin-top: -8px;
            width: 579px;
            li {
                float: left;
                margin-left: 8px;
                margin-top: 8px;
                a {
                    display: block;
                    width: 185px;
                    height: 248px;
                    background-color: purple;
                }
            }
        }
    }
    .upper-products {
        margin-left: -10px;
        margin-top: 10px;
        li {
            float: left;
            margin-left: 10px;
            a {
                width: 222px;
                height: 298px;
                display: block;
                background-color: rosybrown;
            }
        }
    }
}